.btn-cari:hover,.btn-cari.active {
    box-shadow: 0px 3px #000;
}

.btn-more:hover {
    background-color: $primary;
    color: $secondary;
    border-color: $primary;
}

.more:hover {
    color: $primary;
    transition: all .3s ease-in-out;
}

.card-designer {
    opacity: 0;

    &:hover {
        opacity: 100%;
        border-radius: 24px;
        background-image: linear-gradient(180deg, (#00000000), (#0000005D));
        transition: all .3s ease-in-out;
    }
}

.card-hover {
    transition: all .3s ease-in-out;

    &:hover {
        .img-hover {
            opacity: 1;
        }
    }
}

.img-hover {
    background-position: center top;
    background-repeat: no-repeat;
    opacity: 0;
    border-radius: 24px 24px 0 0;
    transition: all .3s ease-in-out;

    @media (max-width: 991.98px) {
        background-size: 100% cover;
    }

    @media (max-width: 767.98px) {
        background-size: 100%;
    }

    @media (max-width: 467.98px) {
        background-size: 100% 424px;
    }
}

.draw {
    background-image: url(../images/btn2.png);
    background-repeat: no-repeat;
    height: 152px;
}

.draw:hover {
    background-image: url(../images/btn.png);
    transition: all .3s ease-in-out;
}

.dash-hover {
    color: transparent;
    font-family: 'Noto Sans TC', sans-serif;
    transition: all .3s ease-in-out;
    &:hover,&.active{
        color: $primary;
        padding: 0 12px;
        transition: all .3s ease-in-out;
    }
}

.link-hover:hover,.link-hover.active {
    color: $primary;
    transition: all .3s ease-in-out;
}